@import "src/@fuse/scss/fuse";
#contacts {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);
            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .content {
        overflow: hidden;
        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }
}

#add-contact-button {
    top: 85%;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}

#delete-contact-button {
    position: fixed;
    bottom: 12px;
    right: 15px;
    padding: 0;
    z-index: 99;
    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(60vh - 800px);
        bottom: auto;
    }
}

.iconos {
    float: right;
}