// .cabeza {
//     height: 100%;
//     width: 100%;
//     border: solid 2px #3498DB;
// }
// .cuerpo {}
@import "src/@fuse/scss/fuse";
.contact-form-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }
    @include media-breakpoint('gt-xs') {
        width: 400px;
    }
    .mat-dialog-container {
        padding: 0;
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .toolbar-bottom {
            height: auto;
        }
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

mat-form-field {
    margin: 0 5px 0 5px
}