<div id="products" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
           {{tipo}}
       </span>
            </div>

            <div class="search-wrapper mt-16 m-10 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                </div>

            </div>
        </div>

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="mat-elevation-z8">
                <mat-table class="products-table" matSort #table [dataSource]="dataSource" [@animateStagger]="{value:'350'}" fusePerfectScrollbar>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <!-- <mat-header-cell *matHeaderCellDef></mat-header-cell> -->
                        <td mat-cell *matCellDef="let contact">
                            <!-- <mat-checkbox (change)="eventCheckbox($event, contact)">
                </mat-checkbox> -->

                            <mat-checkbox (change)="eventCheckbox($event, contact)" [checked]="selection.isSelected(contact)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- DNI Column -->
                    <ng-container matColumnDef="documentNumber">
                        <mat-header-cell *matHeaderCellDef>DNI</mat-header-cell>
                        <mat-cell *matCellDef="let contact" (dblclick)="editar(contact)">
                            <p class="text-truncate font-weight-600">{{contact.documentNumber}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Alumno</mat-header-cell>
                        <mat-cell *matCellDef="let contact" (dblclick)="editar(contact)">
                            <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}} {{contact.secondLastName}} </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm (dblclick)="editar(contact)">
                            <p class="email text-truncate">
                                {{contact.email}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="cellphone">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Teléfono</mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md (dblclick)="editar(contact)">
                            <p class="phone text-truncate">
                                {{contact.cellphone}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- adress Column -->
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
                        <mat-cell *matCellDef="let contact" (dblclick)="editar(contact)">
                            <p class="text-truncate font-weight-600">
                                {{contact.address}}
                            </p>
                        </mat-cell>
                    </ng-container>
                    <!-- Job Title Column -->
                    <ng-container matColumnDef="birthday">
                        <mat-header-cell *matHeaderCellDef>Nacimiento</mat-header-cell>
                        <mat-cell *matCellDef="let contact" (dblclick)="editar(contact)">
                            <p class="text-truncate font-weight-600">
                                {{contact.birthday}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>