@import "src/@fuse/scss/fuse";
th {
    margin-left: 30px;
    margin-right: 30px;
}

#products {
    width: 100%!important;
    .top-bg {
        @include media-breakpoint('lt-md') {
            height: 256px;
        }
    }
    >.center {
        >.header {
            .search-wrapper {
                width: 100%;
                // max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);
                @include media-breakpoint('xs') {
                    width: 100%;
                }
                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;
                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }
}

.products-table {
    width: 100%;
    background: transparent;
    box-shadow: none;
    .mat-header-cell {
        width: 220px;
        @include media-breakpoint('lt-md') {
            width: 320px;
        }
    }
    .mat-column-avatar {
        flex: 0 1 64px;
    }
    .mat-row {
        position: relative;
        cursor: pointer;
        padding: 8px;
    }
    .mat-cell {
        min-width: 0;
        &.mat-column-detail-button {
            flex: 0 1 auto;
            padding: 0 24px 0 0;
            @include media-breakpoint('gt-md') {
                display: none;
            }
        }
    }
}