<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            BIENVENIDO
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
    </div>
    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>
            <div class="title">LOGIN</div>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label for="email">Email</mat-label>
                    <input matInput id="email" [(ngModel)]="loggin.user" name="email" required>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="password">Password</mat-label>
                    <input id="password" matInput type="password" [(ngModel)]="loggin.password" name="password" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                </mat-form-field>

                <button (keyup.enter)="login()" (click)="login()" mat-raised-button class="submit-button " aria-label="LOGIN ">
                        LOGIN
                    </button>

            </form>
        </div>
    </div>
</div>