<div class="search-wrapper mt-16 m-10 mt-sm-0">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input (keyup.enter)="controlbarra()" [(ngModel)]="documentNumber" name="documentNumber" paceholder="Search for a contact">
    </div>
</div>
<div *ngIf="verMensaje" class="control">
    <div *ngIf="!verRojo">
        <p>{{mensaje}}</p>
    </div>

    <div *ngIf="verRojo">

        <p style="color: red">{{mensaje}}</p>
    </div>
    <div *ngIf="verTabla">

        <table class="redTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{dni}}</td>
                    <td>{{correo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>