@import "src/@fuse/scss/fuse";
mat-form-field {
    width: 96%;
}

.search-wrapper {
    //separacion
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    @include mat-elevation(1);
    .search {
        align-self: center;
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0 18px;
        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            border-radius: 20%;
            outline: none;
        }
    }
}

.example-container {
    display: block;
    padding: 50px;
    background: #3498DB !important;
    margin: 40px;
    border-radius: 25px;
    // margin-right: auto;
    mat-form-field {
        background: white;
        border-radius: 20%;
    }
}

.example-container>* {
    width: 100%;
}

.control {
    margin-left: 30px;
    p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
    }
}

table.redTable {
    border: 1px solid #A40808;
    background-color: rgb(255, 255, 255);
    width: 150%;
    text-align: center;
    border-collapse: collapse;
}

table.redTable td,
table.redTable th {
    border: 1px solid rgb(255, 255, 255);
    padding: 2px 2px;
}

table.redTable tbody td {
    font-size: 20px;
}

table.redTable tr:nth-child(even) {
    background: white;
}

table.redTable thead {
    background: #A40808;
}

table.redTable thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
}

table.redTable thead th:first-child {
    border-left: none;
}

table.redTable tfoot {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A40808;
}

table.redTable tfoot td {
    font-size: 13px;
}

table.redTable tfoot .links {
    text-align: right;
}

table.redTable tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}