<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start" class="header accent">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            check_box
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">ASISTENCIA</span>
    </div>
    <div class="search-wrapper mt-16 m-10 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input type="text" [(ngModel)]="term">
        </div>

    </div>
    <div class="account" fxLayout="column" [@animate]="{value:'*',params:{delay:'300ms'}}">
        <mat-form-field floatLabel="never">
            <mat-select class="account-selection" placeholder="Seleccione Sucursal">
                <mat-option *ngFor="let sucursal of sucursales" (click)="selectSucursal(sucursal)" [value]="sucursal.name">
                    {{sucursal.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="account" fxLayout="column" [@animate]="{value:'*',params:{delay:'300ms'}}" *ngIf="sucursal">
        <mat-form-field floatLabel="never">
            <mat-select class="account-selection m-10" placeholder="Seleccione mes">
                <mat-option *ngFor="let account of accounts" (click)="selectClick(account)" [value]="account.monthName">
                    {{account.monthName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


</div>
<!-- / SIDEBAR HEADER -->
<div class="asistencia">
    <!-- SIDEBAR CONTENT -->
    <div class="contenedor">
        <div>
            <table *ngIf="verCalendario">
                <thead>
                    <tr>
                        <th>
                            <h2>Calendario</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let semana of semanas">
                        <th (click)="SemanaSeleccionada(semana, link1)" [id]='semana.id'>
                            <h3>
                                <mat-icon>insert_invitation</mat-icon>
                                {{semana.weekName}}
                                <p #link1 class="selector"> {{semana.startDate | slice:0:5}} - {{semana.endDate | slice:0:5}} </p>
                            </h3>
                        </th>
                    </tr>
                    <!-- <tr *ngFor="let semana of semanas">
                        <td>{{semana.startDate}}</td>
                    </tr> -->
                </tbody>
            </table>

        </div>
        <!-- <div>
            <mat-form-field floatLabel="never">
                <mat-select class="account-selection" placeholder="Seleccione Sucursal">
                    <mat-option *ngFor="let sucursal of sucursales" (click)="selectSucursal(sucursal)" [value]="sucursal.name">
                        {{sucursal.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

    </div>
    <!-- / SIDEBAR CONTENT -->
    <div class="tablaasistencia">


        <table>
            <thead>
                <tr class="noboder">
                    <th class="noboder" rowspan="4"> APELIIDOS Y NOMBRE</th>
                </tr>
                <tr>
                    <th class="noboder" colspan="14">DIA DE LA SEMANA</th>
                </tr>
                <tr>
                    <th colspan="2">LUNES</th>
                    <th colspan="2">MARTES</th>
                    <th colspan="2">MIERCOLES</th>
                    <th colspan="2">JUEVES</th>
                    <th colspan="2">VIERNES</th>
                    <th colspan="2">SABADO</th>
                    <th colspan="2">DOMINGO</th>
                </tr>
                <tr>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                    <th>Mañana</th>
                    <th>Tarde</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of  Alumnos | filter:term | paginate: { itemsPerPage: 20, currentPage: p }">
                    <!-- <tr *ngFor="let alumno of  alumnos | paginate: { itemsPerPage: 20, currentPage: p }"> -->
                    <th>{{alumno.name}} {{alumno.lastName}} {{alumno.secondLastName}}</th>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.monday)" *ngIf="alumno.record.monday ">{{alumno.record.monday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.monday )" *ngIf="alumno.record.monday ">{{alumno.record.monday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.tuesday )" *ngIf="alumno.record.tuesday ">{{alumno.record.tuesday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.tuesday )" *ngIf="alumno.record.tuesday ">{{alumno.record.tuesday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.wednesday )" *ngIf="alumno.record.wednesday ">{{alumno.record.wednesday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.wednesday )" *ngIf="alumno.record.wednesday ">{{alumno.record.wednesday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.thursday )" *ngIf="alumno.record.thursday">{{alumno.record.thursday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.thursday )" *ngIf="alumno.record.thursday ">{{alumno.record.thursday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.friday )" *ngIf="alumno.record.friday ">{{alumno.record.friday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.friday )" *ngIf="alumno.record.friday ">{{alumno.record.friday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.saturday )" *ngIf="alumno.record.saturday ">{{alumno.record.saturday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.saturday )" *ngIf="alumno.record.saturday ">{{alumno.record.saturday.afternoon.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.sunday )" *ngIf="alumno.record.sunday ">{{alumno.record.sunday.morning.registration || ['.']}}</p>
                    </td>
                    <td>
                        <p (click)="lookAsistens(alumno, alumno.record.sunday)" *ngIf="alumno.record.sunday ">{{alumno.record.sunday.afternoon.registration || ['.']}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>