// este es el color del fuse #3498DB;
// Import Fuse core library
@import "@fuse/scss/core";
// Import app.theme.scss
@import "app/app.theme";
//radio inicio 
$md-radio-checked-color: rgb(23, 66, 184);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
}

// @import url(https://fonts.googleapis.com/css?family=Roboto);
.md-radio {
    margin: 7px 0;
    input[type="radio"] {
        display: none;
        &:checked+label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked+label:after {
            transform: scale(1);
        }
    }
    label {
        display: inline-block;
        height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before,
        &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

thead td {
    color: black;
}

select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #097c99;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 95%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(33, 105, 172);
    -webkit-box-shadow: 0 1px 0 0 rgb(28, 69, 206);
    box-shadow: 0 1px 0 0 rgb(52, 112, 223);
}

//radio fin
todo-main-sidebar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
    .header {
        .logo {
            .logo-icon {
                margin: 0 16px 0 0;
            }
            .logo-text {
                font-size: 24px;
                line-height: 24px;
            }
        }
        .account {
            width: 100%;
        }
    }
}